<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Listado de monedas</h2>
    </div>
    <div class="col-md-12">
      <div class="mb-3">
        <label for="" class="form-label">Buscador</label>
        <input type="text" class="form-control" name="search" (keyup)="filterList(searchWord)" [(ngModel)]="searchWord" aria-describedby="helpId" placeholder="término de busqueda">
      </div>
    </div>
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table bg-dark text-white">
          <thead>
            <tr>
              <th>#</th>
              <th>Logo</th>
              <th>Nombre</th>
              <th>Símbolo</th>
              <th>Valor actual</th>
              <th>Cambio en las últimas 24h</th>
            </tr>
          </thead>
          <tbody *ngIf="filteredList">
            <tr *ngFor="let crypto of filteredList; let i=index">
              <td>{{i + 1}}</td>
              <td><img class="img-fluid" width="45" [src]="crypto.image" [alt]="crypto.name"></td>
              <td>{{crypto.name}}</td>
              <td>{{crypto.symbol}}</td>
              <td>{{crypto.current_price | currency}}</td>
              <td>{{crypto.price_change_24h}}%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>